<configuration version="37">
    <gui enabled="true" tls="false" debugging="false">
      <user>{{ vault_syncthing_username }}</user>
      <password>{{ vault_syncthing_password | string | password_hash('bcrypt') }}</password>
    </gui>
    <options>
      <urAccepted>3</urAccepted>
      <urSeen>3</urSeen>
    </options>
</configuration>
