username: {{ to_be_stored_server_user }}
ssh_public_key_path: {{ to_be_stored_ssh_public_key_path }}
vault_server_root_password: {{ encrypted_server_root_password }}
vault_domain_email: {{ encrypted_domain_email }}
vault_domain_name: {{ encrypted_domain_name }}
vault_syncthing_username: {{ encrypted_syncthing_username }}
vault_syncthing_password: {{ encrypted_syncthing_password }}
