vault_server_root_password: {{ encrypted_server_root_password }}
vault_duckdns_email: {{ encrypted_duckdns_email }}
vault_duckdns_domain_name: {{ encrypted_duckdns_domain_name }}
vault_duckdns_token: {{ encrypted_duckdns_token }}
vault_syncthing_username: {{ encrypted_syncthing_username }}
vault_syncthing_password: {{ encrypted_syncthing_password }}
