version: '3'

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: {{ vaultwarden_name }}
    restart: unless-stopped
    environment:
      WEBSOCKET_ENABLED: "true"
    volumes:
      - ./{{ vaultwarden_name }}/data:/data

  caddy:
    build: ./{{ caddy_name }}
    container_name: {{ caddy_name }}
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./{{ caddy_name }}/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./{{ caddy_name }}/config:/config
      - ./{{ caddy_name }}/data:/data
    environment:
      DOMAIN: "{{ vault_duckdns_domain_name }}"
      EMAIL: "{{ vault_duckdns_email }}"
      DUCKDNS_TOKEN: "{{ vault_duckdns_token }}"
      LOG_FILE: "/data/access.log"

  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: "{{ username }}-selfhosted"
    restart: unless-stopped
    volumes:
      - ./{{ syncthing_name }}/config:/var/syncthing/config
      - ./{{ vaultwarden_name }}/data:/var/syncthing/{{syncthing_vaultwarden_volume_name }}
    expose:
      - 8384
    ports:
      - 22000:22000/tcp # TCP file transfers
      - 22000:22000/udp # QUIC file transfers
