{$DOMAIN}:443 {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  # Use the ACME DNS-01 challenge to get a cert for the configured domain.
  tls {
    dns duckdns {$DUCKDNS_TOKEN}
  }

  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode gzip

  handle_path /vaultwarden/* {
    uri strip_prefix /vaultwarden
    reverse_proxy /notifications/hub vaultwarden:3012
    reverse_proxy vaultwarden:80
  }

  handle_path /syncthing/* {
    uri strip_prefix /syncthing
    reverse_proxy syncthing:8384 {
      header_up Host {upstream_hostport}
      header_up X-Forwarded-Host {host}
    }
  }
}
